/*
@author Sakoat
@name style
@type custom css
*/
span.text-menu{
	vertical-align:middle;
}
a.question_add_menu{
	font-size:20px;
}
ul.question_type_list{
	list-style-type:none;
}
ul.question_type_list li{
	font-size:15px;
	font-wigth:bold;
	padding:5px;
	font-color:#000000;
}
ul.question_type_list li a {
	text-decoration:none;
	cursor:pointer;
}